@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS tambahan (opsional) */
html {
  scroll-behavior: smooth;
}

/* Jika Anda ingin menghilangkan scrollbar default di webkit (opsional, untuk tampilan lebih bersih) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #077A7D; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #215E61; 
}